<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>

    <img src="/Users/MacBookPro/github/udemy/ruby/rails_projects/alpha_blog/app/assets/images/header.jpg" alt="">

      My name is Patrick Carter and this is my first Ruby on Rails application. I will follow this with more interesting things about me once I discover what they are.
  </body>
  <footer>
    <%= link_to 'Home', pages_home_path %>
    <%= link_to 'Contact', pages_contact_path %>
  </footer>
</html>
